@import '../../app/mixins.scss';
.text-form-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 150px;
  @include respond-to(custom) {
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }

  .text-wrapper {
    color: #a90000;
    width: 50%;
    padding-right: 100px;
    @include respond-to(custom) {
      width: 100%;
      padding-right: 0;
      padding-bottom: 40px;
    }
    .title {
      margin-bottom: 20px;
    }

    .text {
      color: #FFFFFF;
    }
  }

  &.bottom-form {
    padding-top: 70px;

    .text-wrapper {
      @include respond-to(custom) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond-to(custom) {
          align-items: center;
          flex-direction: row;
        }
        .icons-wrapper {
          .icon {
            margin-right: 10px;
            cursor: pointer;
          }
        }

        .phone-number {
          margin-bottom: 20px;
          @include respond-to(custom) {
            margin-right: 20px;
            margin-bottom: unset;
          }
        }
      }

      .text {
        color: #4e4f52;
        margin-bottom: 40px;
      }
    }
  }
}
