.main {
  background-color: #f8f8f8;
  .hero {
    background-image: url("./../../public/main-banner-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}
