@import "./mixins.scss";

@font-face {
  font-family: Manrope;
  src: url("../../public/fonts/Manrope-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Manrope;
  src: url("../../public/fonts/Manrope-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Manrope;
  src: url("../../public/fonts/Manrope-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Manrope;
  src: url("../../public/fonts/Manrope-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Manrope;
  src: url("../../public/fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Manrope;
  src: url("../../public/fonts/Manrope-Bold.ttf");
  font-weight: 700;
}


$font-manrope: Manrope, sans-serif;

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, p, a, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

mark {
  color: #F04E36;
  background-color: unset;
}

p {
  color: #4e4f52;
  font-size: 1.125rem;
  line-height: 1.5rem;

  @include respond-to(md) {
    font-size: 1rem;
  }
}


.h1, h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  color: #a90000;
  @include respond-to(custom) {
    font-size: 48px;
    line-height: 56px;
  }

  @include respond-to(md) {
    font-size: 30px;
    line-height: 37px;
  }
}

.h2, h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #a90000;
  @include respond-to(custom) {
    font-size: 32px;
    line-height: 42px;
  }

  @include respond-to(md) {
    font-size: 24px;
    line-height: 32px;
  }
}

.h3, h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #a90000;
  @include respond-to(custom) {
    font-size: 24px;
    line-height: 28px;
  }

  @include respond-to(md) {
    font-size: 20px;
    line-height: 24px;
  }
}
